body {
    background-color: rgb(17, 17, 125);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
}

a {
    display: inline-block;
    margin-top: 250px;
    padding: 20px;

    background-color: rgb(132, 4, 4);
    color: white;

    text-decoration: none;
    text-transform: uppercase;

    border-bottom: 3px solid black;
    border-radius: 10px;
}

.bt:hover{
    box-shadow: 5px 5px 20px red;
}